@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor img{
    width: 300px;
    height: 150px;
    object-fit: contain;
    background-position: center;
    margin: 0 auto ;

}

.ql-editor.ql-blank::before{
    font-size: 1.7rem;
    color: gray;


}

.postContainer h1, .postContainer h2{
    margin:1rem 0;
}

.postContainer p{
    margin: .5rem 0;
}